<div class="container">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search everywhere..."
                   ng-model="algorithmContainer.searchString"
                   ng-click="algorithmContainer.onTextClick($event);">
        </div>
    </form>
    <div id="algorithmListWrapper">
        <ul class="list-unstyled">
            <li class="algorithm btn btn-default"
                ng-repeat="algorithm in algorithmContainer.algorithms | algorithmFilterByType : algorithmContainer.type : algorithmContainer.searchString | filter : algorithmContainer.searchString"
                ng-click="algorithmContainer.showAlgorithm(algorithm);">
                <div class="clearfix long-text">
                        <span class="algorithm-title">{{::algorithm.name}}</span>
                        <span class="pull-right">Type: {{::algorithm.type | uppercase}}</span>
                    <ul class="list-unstyled">
                        <li>Description: <span ng-bind="algorithm.description"></span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>