<div id="headerWrapper">
    <span class="logo pull-left">{{main.appDetails.title}}</span>
    <span class="tagline pull-left">{{main.appDetails.tagline}}</span>
    <div class="nav-wrapper pull-left">
        <ul class="nav nav-pills">
            <li ng-if="main.isInAlgorithmView" ng-click="main.isInAlgorithmView = false;">
                <a href="#/">Back to the algorithm list</a>
            </li>
            <li ng-class="{active: main.nav.isActive('/sorting')}"
                ng-if="!main.isInAlgorithmView">
                <a href="#/sorting">Sorting algorithms</a>
            </li>
            <li ng-class="{active: main.nav.isActive('/tree')}"
                ng-if="!main.isInAlgorithmView">
                <a href="#/tree">Tree algorithms</a>
            </li>
        </ul>
    </div>

    <algorithm-container algorithms="main.algorithms"
                         type="main.selectedType"
                         algorithm-view="main.isInAlgorithmView"
                         ng-if="!main.isInAlgorithmView">
    </algorithm-container>
    <sorting-rectangles values="[2,1,5,4,3,0]"
                        ng-if="main.isInAlgorithmView">
    </sorting-rectangles>

</div>

