<div id="headerWrapper" class="clearfix">
    <div class="header-overlay">
        <div class="animated shake">
            <a class="link-unstyled" href="#" ng-click="main.logoClicked();">
                <span class="logo pull-left">{{main.appDetails.title}}</span>
            </a>
        </div>
        <div class="nav-wrapper pull-right">
            <ul class="nav nav-pills">
                <li class="option"
                    ng-if="main.isInAlgorithmView"
                    ng-click="main.isInAlgorithmView = false; main.svgTool.remove();main.stopVisualizing();">
                    <a href="#/{{main.selectedType}}">Back to the algorithm list</a>
                </li>
                <li class="option"
                    ng-class="{active: main.nav.isActive('/sorting')}"
                    ng-if="!main.isInAlgorithmView">
                    <a href="#/sorting">Sorting algorithms</a>
                </li>
                <li class="option"
                    ng-class="{active: main.nav.isActive('/tree')}"
                    ng-if="!main.isInAlgorithmView">
                    <a href="#/tree">Tree algorithms</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="width: 100%">
    <algorithm-container values="main.values"
                         algorithms="main.algorithms"
                         type="main.selectedType"
                         algorithm-view="main.isInAlgorithmView"
                         selected-algorithm="main.selectedAlgorithm">
    </algorithm-container>
</div>

