<svg ng-attr-width="{{sortingRectangles.svgWidth}}" ng-attr-height="{{sortingRectangles.svgHeight}}">
    <g ng-repeat="rect in sortingRectangles.values" >
        <rect class="rectangle" ng-attr-width="{{sortingRectangles.rectanglesWidth}}"
              ng-attr-height="{{sortingRectangles.getRectHeight(rect)}}"
              ng-attr-x="{{sortingRectangles.getXPosition($index)}}"
              ng-attr-y="{{-sortingRectangles.svgHeight/2}}"
              transform="scale(1,-1)"></rect>
        <text ng-attr-x="{{sortingRectangles.getXPosition($index) + sortingRectangles.rectanglesWidth / 2 - 5}}"
              ng-attr-y="{{sortingRectangles.svgHeight/2 + 20}}"
              fill="red">{{rect}}</text>
    </g>
</svg>